<div class="row">
	<div class="span12">
		<h3>Peek Range</h3>
		<div class="alert alert-success">
		  <strong>NOTE:</strong> Setting min and max to 0 will attempt to guess an appropriate range value based on the current ready queue.
		</div>
		<form class="well form-inline" name="peek_range_form" action="<%= u("/peek-range") %>" method="GET">
		  <input type="text" class="span2" name="min" value="<%= @min %>">
		  <input type="text" class="span2" name="max" value="<%= @max %>">
		  <select id="peek_range_tube_select" class="span2" name="tube">
			<option></option>
			<% @tubes.each do |tube| %>
			<option <% if @tube and @tube.name == tube.name%>selected="true"<% end %>><%=tube.name%></option>
			<% end %>
		  </select>
		  <button type="submit" class="btn">Refresh</button>
		</form>
		<table id="peek_range_table" class="table table-bordered">
			<tr class="header">
				<th>ID</th>
				<th>Tube</th>
				<th>Priority</th>
				<th>Age</th>
				<th>Delay</th>
				<th>TTR</th>
				<th>Time Left</th>
				<th>Reserves</th>
				<th>Timeouts</th>
				<th>Releases</th>
				<th>Buries</th>
				<th>Kicks</th>
				<th>Body</th>
			</tr>
			<% @jobs.each do |job| %>
			<tr class="datum" data-tube="<%=job['tube']%>" <% if job['pri'] < 1024 %>class="urgent"<%end%>>
				<td><%=job['id']%></td>
				<td><%=job['tube']%></td>
				<td><%=job['pri']%></td>
				<td><%=job['age']%></td>
				<td><%=job['delay']%></td>
				<td><%=job['ttr']%></td>
				<td><%=job['time-left']%></td>
				<td><%=job['reserves']%></td>
				<td><%=job['timeouts']%></td>
				<td><%=job['releases']%></td>
				<td><%=job['buries']%></td>
				<td><%=job['kicks']%></td>
				<td><p class="peek_range_job_body"><%=job['body'].inspect%><p></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>