<div class="row">
	<div class="span12">
		<h1><%= @stats["name"].inspect %></h1>

	    <table class="table">
	      <thead>
	        <tr>
	          <th colspan="2">Current Jobs</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td><a href="#" rel="tooltip" title="The number of ready jobs with priority < 1024 in this tube.">Urgent</a></td>
	          <td><%= @stats["current-jobs-urgent"].inspect %></td>
	        </tr>
	        <tr>
	          <td><a href="#" rel="tooltip" title="The number of jobs in the ready queue in this tube.">Ready</a></td>
	          <td><%= @stats["current-jobs-ready"].inspect %></td>
	        </tr>
	        <tr>
	          <td><a href="#" rel="tooltip" title="The number of jobs reserved by all clients in this tube.">Reserved</a></td>
	          <td><%= @stats["current-jobs-reserved"].inspect %></td>
	        </tr>
	        <tr>
	          <td><a href="#" rel="tooltip" title="The number of delayed jobs in this tube.">Delayed</a></td>
	          <td><%= @stats["current-jobs-delayed"].inspect %></td>
	        </tr>
	        <tr>
	          <td><a href="#" rel="tooltip" title="The number of buried jobs in this tube.">Buried</a></td>
	          <td><%= @stats["current-jobs-buried"].inspect %></td>
	        </tr>
		  </tbody>
	    </table>

	    <table class="table">
	      <thead>
	        <tr>
	          <th colspan="2">Statistics</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td><a href="#" rel="tooltip" title="The cumulative count of jobs created in this tube.">Total Jobs</a></td>
	          <td><%= @stats["total-jobs"].inspect %></td>
	        </tr>
	        <tr>
	          <td><a href="#" rel="tooltip" title="The number of open connections that have issued a reserve command while watching this tube but not yet received a response.">Current Waiting</a></td>
	          <td><%= @stats["current-waiting"].inspect %></td>
	        </tr>
	        <tr>
	          <td><a href="#" rel="tooltip" title="The number of seconds the tube has been paused for.">Time Paused</a></td>
	          <td><%= @stats["pause"].inspect %></td>
	        </tr>
	        <tr>
	          <td><a href="#" rel="tooltip" title="The number of seconds until the tube is un-paused.">Pause Time Left</a></td>
	          <td><%= @stats["pause-time-left"].inspect %></td>
	        </tr>
	      </tbody>
	    </table>
	
		<table class="table">
	      <thead>
	        <tr>
	          <th colspan="2">API Call Histogram</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td><a href="#" rel="tooltip" title="The cumulative number of pause-tube commands for this tube.">pause-tube</a></td>
	          <td><%= @stats["cmd-pause-tube"].inspect %></td>
	        </tr>
	      </tbody>
	    </table>
  </div>
</div>
