<div class="row">
	<div class="span6">
		<h1>Tube: <%= @stats["name"] %></h1>

	    <table class="table">
	      <thead>
	        <tr>
	          <th colspan="2">Current Jobs</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td rel="tooltip" title="The number of ready jobs with priority < 1024 in this tube.">Urgent</td>
	          <td><%= @stats["current-jobs-urgent"].inspect %></td>
	        </tr>
	        <tr>
	          <td rel="tooltip" title="The number of jobs in the ready queue in this tube.">Ready</td>
	          <td><%= @stats["current-jobs-ready"].inspect %></td>
	        </tr>
	        <tr>
	          <td rel="tooltip" title="The number of jobs reserved by all clients in this tube.">Reserved</td>
	          <td><%= @stats["current-jobs-reserved"].inspect %></td>
	        </tr>
	        <tr>
	          <td rel="tooltip" title="The number of delayed jobs in this tube.">Delayed</td>
	          <td><%= @stats["current-jobs-delayed"].inspect %></td>
	        </tr>
	        <tr>
	          <td rel="tooltip" title="The number of buried jobs in this tube.">Buried</td>
	          <td><%= @stats["current-jobs-buried"].inspect %></td>
	        </tr>
		  </tbody>
	    </table>

	    <table class="table">
	      <thead>
	        <tr>
	          <th colspan="2">Statistics</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td rel="tooltip" title="The cumulative count of jobs created in this tube.">Total Jobs</td>
	          <td><%= @stats["total-jobs"].inspect %></td>
	        </tr>
	        <tr>
	          <td rel="tooltip" title="The number of open connections that have issued a reserve command while watching this tube but not yet received a response.">Current Waiting</td>
	          <td><%= @stats["current-waiting"].inspect %></td>
	        </tr>
	        <tr>
	          <td rel="tooltip" title="The number of seconds the tube has been paused for.">Time Paused</td>
	          <td><%= @stats["pause"].inspect %></td>
	        </tr>
	        <tr>
	          <td rel="tooltip" title="The number of seconds until the tube is un-paused.">Pause Time Left</td>
	          <td><%= @stats["pause-time-left"].inspect %></td>
	        </tr>
	      </tbody>
	    </table>
	
		<table class="table">
	      <thead>
	        <tr>
	          <th colspan="2">API Call Histogram</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td rel="tooltip" title="The cumulative number of pause-tube commands for this tube.">pause-tube</td>
	          <td><%= @stats["cmd-pause-tube"].inspect %></td>
	        </tr>
	      </tbody>
	    </table>
  </div>

  <div class="span6">
	<h2>Actions</h2>

	<h3>Kick Tube</h3>
	<form class="well form-inline" name="pause_form" action="/beanstalkd/kick" method="POST">
	  <input id="form_tube_name" type="hidden" name="tube" value="<%= @stats["name"] %>">
	  <input type="text" class="input-medium" placeholder="Number of Jobs" name="bound">
	  <button type="submit" class="btn">Kick</button>
	</form>

	<h3>Peek Jobs</h3>	
	<form class="well" name="peek_jobs">
	  <a id="peek_ready_btn" href="javascript:false" class="btn">Peek Ready</a>
	  <a id="peek_delayed_btn" href="javascript:false" class="btn">Peek Delayed</a>
	  <a id="peek_buried_btn" href="javascript:false" class="btn">Peek Buried</a>
	</form>

  </div>

<%= erb :job_info_popup %>

</div>
