<div class="row">
	<div class="span6">
		<h1><%= @stats["name"] %></h1>

	    <table class="table">
	      <thead>
	        <tr>
	          <th colspan="2">Current Jobs</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr rel="tooltip" title="The number of ready jobs with priority < 1024 in this tube.">
	          <td>Urgent</td>
			  <% if @stats["current-jobs-urgent"] > 0 %>
                <td class="data_cell"><span class="badge badge-warning"><%= @stats["current-jobs-urgent"] %></span></td>
              <% else %>
	            <td class="data_cell"><%= @stats["current-jobs-urgent"] %></td>
              <% end %>
	        </tr>
	        <tr rel="tooltip" title="The number of jobs in the ready queue in this tube.">
	          <td>Ready</td>
	          <td class="data_cell"><%= @stats["current-jobs-ready"] %></td>
	        </tr>
	        <tr rel="tooltip" title="The number of jobs reserved by all clients in this tube.">
	          <td>Reserved</td>
	          <td class="data_cell"><%= @stats["current-jobs-reserved"] %></td>
	        </tr>
	        <tr rel="tooltip" title="The number of delayed jobs in this tube.">
	          <td>Delayed</td>
	          <td class="data_cell"><%= @stats["current-jobs-delayed"] %></td>
	        </tr>
	        <tr rel="tooltip" title="The number of buried jobs in this tube.">
	          <td>Buried</td>
			  <% if @stats["current-jobs-buried"] > 0 %>
                <td class="data_cell"><span class="badge badge-error"><%= @stats["current-jobs-buried"] %></span></td>
              <% else %>
	            <td class="data_cell"><%= @stats["current-jobs-buried"] %></td>
              <% end %>
	        </tr>
		  </tbody>
	    </table>

	    <table class="table">
	      <thead>
	        <tr>
	          <th colspan="2">Statistics</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr rel="tooltip" title="The cumulative count of jobs created in this tube.">
	          <td>Total Jobs</td>
	          <td class="data_cell"><%= @stats["total-jobs"] %></td>
	        </tr>
	        <tr rel="tooltip" title="The number of open connections that have issued a reserve command while watching this tube but not yet received a response.">
	          <td>Current Waiting</td>
	          <td class="data_cell"><%= @stats["current-waiting"] %></td>
	        </tr>
	        <tr rel="tooltip" title="The number of seconds the tube has been paused for.">
	          <td>Time Paused</td>
	          <td class="data_cell"><%= @stats["pause"] %></td>
	        </tr>
	        <tr rel="tooltip" title="The number of seconds until the tube is un-paused.">
	          <td>Pause Time Left</td>
	          <% if @stats["pause-time-left"] > 0 %>
                <td class="data_cell"><span class="badge badge-warning"><%= @stats["pause-time-left"] %></span></td>
              <% else %>
                <td class="data_cell"><%= @stats["pause-time-left"] %></td>
              <% end %>
	        </tr>
	      </tbody>
	    </table>
	
		<table class="table">
	      <thead>
	        <tr>
	          <th colspan="2">API Call Histogram</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr rel="tooltip" title="The cumulative number of pause-tube commands for this tube.">
	          <td>pause-tube</td>
	          <td class="data_cell"><%= @stats["cmd-pause-tube"] %></td>
	        </tr>
	      </tbody>
	    </table>
  </div>

  <div class="span6">
    <h3>Pause Tube</h3>
	<form class="well form-inline" name="pause_form" action="<%= url('/pause') %>" method="POST">
	  <input id="form_tube_name" type="hidden" name="tube" value="<%= @stats["name"] %>">
      <input id="form_url_base" type="hidden" name="url_base" value="<%= url('/') %>">
	  <input type="text" class="span3" placeholder="Number of seconds to wait" name="delay">
	  <button type="submit" class="btn">Pause</button>
	</form>

    <h3>Kick Tube</h3>
	<form class="well form-inline" name="kick_form" action="<%= url('/kick') %>" method="POST">
	  <input type="hidden" name="tube" value="<%= @stats["name"] %>">
	  <input type="text" class="span3" placeholder="Number of jobs" name="bound">
	  <button type="submit" class="btn">Kick</button>
	</form>

    <h3>Peek Jobs</h3>	
	<form class="well" name="peek_jobs">
  	  <a id="peek_ready_btn" href="javascript:false" class="btn">Peek Ready</a>
	  <a id="peek_delayed_btn" href="javascript:false" class="btn">Peek Delayed</a>
	  <a id="peek_buried_btn" href="javascript:false" class="btn">Peek Buried</a>
	</form>

  </div>

<%= erb :job_info_popup %>

</div>
